.venv/
__pycache__/
.env
*.pyc
.vscode/
data/test.csv
data/chroma/
data/ontology/*.owl
notebooks/
output/
literature/
literature/README.md
data/*
!data/ontology/
data/ontology/*
!data/ontology/icasa/
data/ontology/icasa/icasa.json
workspace/
output/